@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .site-container {
    @apply max-w-4xl mx-auto md:px-6 px-4;
  }

  .site-4xl-container {
    @apply max-w-4xl mx-auto;
  }

  #category-list::-webkit-scrollbar {
    height: 4px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
  }
  #category-list::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
    /*background: red;*/
  }
  #category-list::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #d3d6dc;
    /*outline: 1px solid slategrey;*/
  }
}
